
/* AboutView  */
.profile_about_view{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--color-border);
}

.profile_about_view-cta{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.profile_about_view__about{
    font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 20px;
}
