.FilterMenu-menu {
  /* Hide scrollbars */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.FilterMenu::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Edge */
}

.FilterMenu__arrow {
  font-size: 24px;
  cursor: pointer;
}

.FilterMenu__arrow::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 100%;
  background-color: rgba(255, 255, 255, 1); /* White color with opacity */
  filter: blur(5px);  /* Blur effect */
  transform: translate(-50%, -50%);
  z-index: -1; /* Behind the arrow */
}
