.filter-menu {
  display: flex;
  border-bottom: 1px solid rgb(242, 242, 242);
  overflow-x: auto;
  scrollbar-width: none; 
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  gap: 30px;
  background-color: var(--color-bg);
  align-items: center;
  margin: 24px 0px;
}

.filter-menu__filter {
  display: flex;
  flex-shrink: 0;
  padding: 15px 0px;
  font-weight: 600;
  color: var(--color-secondary);
  border: none;
  cursor: pointer;
}

.filter-menu__filter:hover {
  color: var(--color-primary);
}

.filter-menu__filter.active {
  border-bottom: 1px solid var(--color-primary);
  color: var(--color-primary);
}
