.Articlefilter-menu {
  display: flex;
  border-bottom: 1px solid rgb(242, 242, 242);
  top: 0px; /* Adjust based on the height of the navbar */
  position: sticky;
  z-index: 1;
  gap: 35px;
  background-color: var(--color-bg);
  align-items: center;
  overflow-x: auto;
  /* Hide scrollbars in most modern browsers */
  scrollbar-width: none; 
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  margin: 24px 0px;
  width: 100%;
}

/* make scrollbar invisible in the chrome */
.Articlefilter-menu::-webkit-scrollbar {
  display: none;
}

#filter-menu-add {
  padding: 2px;
  border-radius: 50%;
  width: 16px;
  height: 16px;
}

#filter-menu-add:hover {
  background-color: rgb(235, 235, 235);
}

.Articlefilter-menu div {
  display: flex;
  flex-shrink: 0;
  font-family: var(--font-family);
  padding: 15px 0px;
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--color-secondary);
  border: none;
  cursor: pointer;
}

.Articlefilter-menu div:hover {
  color: var(--color-primary);
}

.Articlefilter-menu div.active {
  border-bottom: 1px solid var(--color-primary);
}

.filter__scroll-container{
  position: relative;
  display: flex;
  align-items: center;
} 

.arrow{
  font-size: 24px;
}
.arrow::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 100%;
  background-color: rgba(255, 255, 255, 1); /* White color with opacity */
  filter: blur(5px);  /* Blur effect */
  transform: translate(-50%, -50%);
  z-index: -1; /* Behind the arrow */
}

.left-arrow{
  position: absolute;
  z-index: 1;
}

.right-arrow{
  position: absolute;
  right: 0px;
  z-index: 20;
}
