.profile-dropdown {
    position: relative;
    display: inline-block;
    font-family: var(--font-family);
  }
  


 
  
  .dropdown-menu {
    position: absolute;
    top: 40px; /* Adjust based on your layout */
    right: 0;
    background-color: white;
    filter: drop-shadow(0px 0px 3px #bdbdbd);
    border-radius: 4px;
    z-index: 2;
    width: 250px;
  }

  .dropdown-menu div li{
    font-size: 14px;
    font-weight: 500;
    color: var(--color-secondary);
  }

  .NavDropdownIcon{
    font-size: 20px;
  }

  .dropdown-menu div li:hover{
    color: var(--color-primary);
  }
  
  .dropdown-menu div {
    list-style-type: none;
    padding: 10px 0px;
    border-bottom: 1px solid rgb(237, 237, 237);
  }

  
  .dropdown-menu__main li{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0px 25px;
  }
  .dropdown-menu__main li a{
    padding: 10px;
  }

  .dropdown-menu__section2 li{
    padding: 5px 20px;
    align-items: center;
  }


  .dropdown-menu__section3 li{
    padding: 5px 20px;
  }
  .dropdown-menu__section4 li{
    padding: 5px 20px;
  }


  