.profile-dropdown {
    position: relative;
    display: inline-block;
  }
  
  .avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 50px; /* Adjust based on your layout */
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 100;
    width: 250px;
  }
  
  .dropdown-menu div {
    list-style-type: none;
    padding: 10px 0px;
    border-bottom: 1px solid rgb(237, 237, 237);
  }
  
  .dropdown-menu__main li{
    padding: 10px 20px;
    align-items: center;
  }
  .dropdown-menu__main li a{
    padding: 10px;
  }

  .dropdown-menu__section2 li{
    padding: 5px 20px;
    align-items: center;
  }


  .dropdown-menu__section3 li{
    padding: 5px 20px;
  }
  .dropdown-menu__section4 li{
    padding: 5px 20px;
  }


  