
.action-dropdown__menu li{
  list-style-type: none;
  color: var(--color-secondary);
  cursor: pointer;
  font-weight: 600;
  font-size: 13px;
  white-space: nowrap; 
  padding: 8px 0px;
}

.action-dropdown__menu li:hover{
  color: var(--color-primary);
}
