.skeleton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
  margin: 2rem 0rem;
  border-radius: 8px;
  width: 100%;
}

.skeleton__main {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex: 1;
}

.skeleton__author {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}


.skeleton__avatar {
  width: 24px;
  height: 24px;
  animation: pulse 3s infinite ease-in-out;
  border-radius: 50%;
}

.skeleton__username {
  width: 80px;
  height: 10px;
  animation: pulse 3s infinite ease-in-out;
}

.skeleton__content {
  display: flex;
  gap: 12px;
  flex-direction: column;
}

.skeleton__para1,
.skeleton__para2 {
  height: 16px;
  animation: pulse 3s infinite ease-in-out;
  background-color: #f9f9f9; /* Light gray color for the paragraphs */
}

.skeleton__para1 {
  width: 70%; /* Vary width for a more realistic look */
}

.skeleton__para2 {
  width: 90%;
}

.skeleton__image {
  width: 175px;
  height: 125px;
  animation: pulse 3s infinite ease-in-out;
  background-color: #f9f9f9; /* Light gray color for the image placeholder */
}

@keyframes pulse {
  0% {
    background-color: #fafafa; /* Very light gray */
  }
  50% {
    background-color: #eeeeee; /* Slightly darker, but still light gray */
  }
  100% {
    background-color: #fafafa; /* Very light gray */
  }
}
