
.profile__main-header{
    font-family: var(--font-family);
    font-size: 2rem;
    margin-top: 40px;
}

.profile__sub-avatar{
    width: 5rem;
    height: 5rem;
    margin-bottom: 2rem;
}

.profile__sub-username{
    font-family: var(--font-family);
    font-size: 1rem;
    padding-bottom: 1rem;

}

.profile__sub-cta{
    font-family: var(--font-family);
    color: rgb(3, 132, 3);
    font-size: 0.75rem;
}

.profile__sub-cta:hover{
    color: black;
    cursor: pointer;
}