.home {
  display: flex;
  flex-direction: row;
  font-family: var(--font-family);
  margin: 0px 80px;
  justify-content: space-evenly;
}

/* main section  */
.home__main {
  display: flex;
  flex-direction: column;
  max-width: 728px;
  flex-shrink: 1;
}

.home__main-filterMenu {
  padding-top: 24px;
}

.home__main-blogs {
  padding-top: 50px;
}



@media (max-width:1100px) {
  .home__main{
    max-width: 650px;
    flex-shrink: 1;
  }
}
