.FeaturedArticle {
  display: flex;
  flex-direction: row;
  padding-bottom: 25px;
  margin: 25px 0px;
  border-bottom: 1px solid rgb(242, 242, 242);
  font-family: var(--font-family);
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.FeaturedArticle__content {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.FeaturedArticle_content-main{
  display: flex;
  flex-direction: column;
}

.FeaturedArticle__content-author {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.FeaturedArticle__content-author__pic {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 8px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px inset;
  border: medium;
}

.FeaturedArticle__content-author__name {
  font-size: 13px;
  line-height: 20px;
  color: rgb(36, 36, 36);
  cursor: pointer;
}

.FeaturedArticle__content-author__name:hover {
  text-decoration: underline;
}

.FeaturedArticle__content-author__date {
  color: #757575;
  font-size: 0.9em;
}

.FeaturedArticle__content-title {
  display: flex;
  display: -webkit-box; /* Necessary for line clamping */
  -webkit-box-orient: vertical; /* Sets the orientation of the box */
  -webkit-line-clamp: 2; /* Limit the text to a certain number of lines */
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  font-size: 24px;
  line-height: 30px;
  color: #242424;
  font-weight: 900;
  cursor: pointer;
  margin: 0;
}

.FeaturedArticle__content-short {
  padding-top: 8px;
  display: -webkit-box; /* Necessary for line clamping */
  -webkit-box-orient: vertical; /* Sets the orientation of the box */
  -webkit-line-clamp: 2; /* Limit the text to a certain number of lines */
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  cursor: pointer;
  color: var(--color-secondary);
}

.FeaturedArticle__content-short img {
  display: none;
}

.FeaturedArticle__content-footer {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.FeaturedArticle__content-footer__tag {
  background-color: #f0f0f0;
  color: #666;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.9em;
}

.FeaturedArticle__content-footer img {
  width: 20px;
  overflow-y: auto;
  height: 20px;
  cursor: pointer;
}

.FeaturedArticle__image {
  width: 180px;
  height: 100px;
  overflow: hidden;
}

.FeaturedArticle__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.FeaturedArticle__actions-right {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}


.FeaturedArticle__actions-left {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 12px;
  color: var(--color-secondary);
}

.FeaturedArticle__actions-left span{
margin-left: 4px;
}


@media screen and (max-width: 550px) {
  .FeaturedArticle__content-title {
    font-size: 20px;
    line-height: 21px;
  }

  .FeaturedArticle__content-short {
    padding-top: 8px;
    font-weight: 500;
    font-size: 16px;
    margin: 0;
  }
  .FeaturedArticle__image {
    width: 80px;
    height: 72px;
    overflow: hidden;
  }

  .FeaturedArticle__content-footer {
    padding-top: 12px;
  }

  .FeaturedArticle__actions-right {
    gap: 8px;
  }
  
  .FeaturedArticle__actions-left {
    gap: 8px;
  }
}








/* profile overlay  */
.profile_overlay {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #f9f9f9;
  max-width: 280px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  /* z-index: 1; */
  top: 100%; /* Aligns the overlay directly below the .FeaturedArticle__content-author__name */
  left: 0; /* Aligns the overlay to the left */
  gap: 10px;
  border-radius: 8px;
  padding: 20px;
}

.profile_overlay-main {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.profile_overlay-main img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-right: 8px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px inset;
  border: medium;
}

.profile_overlay-main a {
  padding: 4px 8px; /* Adjust padding for size */
  border: 1px solid #000; /* Outline border */
  background: black; /* No background */
  color: white; /* Text color */
  border-radius: 20px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  font-size: 12px;
}

.profile_overlay-sub h2 {
  font-size: 16px;
}

.profile_overlay-sub span {
  font-size: 14px;
}

.profile_overlay-summery {
  display: -webkit-box; /* Necessary for line clamping */
  -webkit-box-orient: vertical; /* Sets the orientation of the box */
  -webkit-line-clamp: 4; /* Limit the text to a certain number of lines */
  font-size: 14px;
  color: gray;
  overflow: hidden;
  text-overflow: ellipsis;
}


.dropdown__author{
  display: flex;
  align-items: center;
  gap: 8px;
}
