

.library__main-header {
  font-family: var(--font-family);
  font-size: 2rem;
  margin-top: 40px;
  margin-bottom: 24px;
}

.library_history {
  font-family: var(--font-family);
}

.library_history_top {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  background-color: rgb(249, 249, 249);
  border: none;
  border-radius: 8px;
  align-items: center;
  margin-bottom: 40px;
}

.library_history_top span {
  color: black;
  font-size: 14px;
}

.library_history_top button {
  padding: 8px 16px; /* Adjust padding for size */
  border: none; /* Outline border */
  background: rgb(201, 74, 74); /* No background */
  color: white; /* Text color */
  border-radius: 20px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
}

.library_history_top button:hover {
  background: rgb(182, 54, 54);
}


/* LibrarySaveList  */
.library_savelist {
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.library_savelist h3 {
  font-size: 16px;
}

.library_savelist p {
  font-size: 14px;
}

