.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    margin:2% auto; /* Center and add some top margin */
    padding: 2rem 2.5rem; /* More padding for a spacious feel */
    border-radius: 12px; /* More rounded corners */
    background-color: var(--color-bg); /* Assuming there's a background variable */
  }
  
  .register__header {
    font-family: var(--font-family);
    text-align: left;
    margin-bottom: 2rem;
    font-size: 1.7rem;
    font-weight: 800; /* Bolder font */
    color: var(--primary-color); /* Primary color for header */
  }
  
  .register__error {
    color: #e74c3c; /* Dribbble-like red for errors */
    margin-bottom: 1rem;
    font-size: 0.8rem;
  }
  
  .register__form {
    width: 100%;
  }
  
  .register__form-input {
    margin-bottom: 1.5rem; /* Space between form inputs */
  }
  
  .register_btn {
    width: 100%;
    padding: 0.75rem 1rem;
    font-family: var(--font-family);
    background-color: var(--color-primary); /* Dribbble-like blue */
    color: var(--color-bg);
    border: none;
    border-radius: 3rem; /* Rounded corners */
    cursor: pointer;
    font-size: 1rem;
    font-weight: 800; /* Semi-bold font */
    transition: background-color 0.3s ease;
    margin-top: 1.5rem;
  }
  
  .register_btn:hover {
    background-color: var(--color-secondary);
  }
  
  .register__login-cta {
    padding-top: 0.5rem;
    text-align: center;
    margin-top: 0.5rem;
    font-size: 0.8rem;
    font-family: var(--font-family);
    color: var(--color-secondary); /* Secondary color for CTA */
  }
  
  .register__login-cta a {
    color: var(--color-primary); /* Interactive blue color */
    cursor: pointer;
    text-decoration: underline;
  }
  
  .register__login-cta a:hover {
    color: var(--color-secondary); /* Darker blue on hover */
  }

  