.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    overflow: auto;
    padding-top: 10vh;
  }
  
  .modal-content {
    margin: 20px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
  }
  
  .modal-main__container{
      width: 540px;
      padding: 32px;
  }
  
  .modal-content__close {
    position: relative;
    top: 20px;
    right: 20px;
    align-self: flex-end;
    cursor: pointer;
    color: var(--color-secondary);
  }
  
  .modal-cta{
      display: flex;
      gap: 10px;
      justify-content: end;
      margin-top: 20px;
  }
  
  
  .modal-main__header{
      line-height: 24px;
      font-size: 20px;
      font-weight: 700;
      color: rgb(36, 36, 36);
      text-align: center;
      margin-bottom: 30px;
  }
  
  .modal-main__para{
      display: inline-block;
      font-size: 12px;
      margin-top: 8px;
      color: rgb(107, 107, 107);
      line-height: 14px;
      font-weight: 400;
  }
  
  .modal-main__para2{
      display: block;
      font-size: 13px;
      margin-top: 8px;
      color: rgb(107, 107, 107);
      line-height: 14px;
      font-weight: 400;
  }
  