
/* profileSide  */
.profile-side__username{
    margin-top: 16px;
}

.profile-side__followers{
    margin-top: 8px;
}

.profile-side__cta{
    padding-top: 24px;
}


.profile-main__header{
    margin-top: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


