.stories {
  display: flex;
  flex-direction: row;
  font-family: var(--font-family);
  margin: 0px 80px;
  justify-content: space-evenly;
}
.stories__main {
  display: flex;
  flex-direction: column;
  width: 680px;
}

.stories__main-header {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  margin-bottom: 24px;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 905px) {
  .stories__main-header {
    flex-direction: column;
    align-items: self-start;
  }
}


.stories__main-header__cta {
  display: flex;
  gap: 20px;
}

.stories__main-header__cta-green {
  font-family: var(--font-family);
  font-size: 0.8rem;
  font-weight: 600;
  padding: 8px 16px; /* Adjust padding for size */
  background: rgb(3, 132, 3); /* No background */
  color: #ffffff; /* Text color */
  border-radius: 20px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
}

.stories__main-header__cta-black {
  font-family: var(--font-family);
  font-size: 0.8rem;
  font-weight: 600;
  padding: 8px 16px; /* Adjust padding for size */
  background: transparent; /* No background */
  border: 1px solid black;
  color: black; /* Text color */
  border-radius: 20px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
}

.stories__sub {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-top: 3rem;
  padding-left: 2rem;
  border-left: 1px solid rgb(234, 232, 232);
}

.stories_section{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Story{
    font-family: var(--font-family);
    border-bottom: 1px solid rgb(234, 232, 232);
    padding: 20px 0px;
}

.Story-heading{
    font-size: 16px;
    padding-bottom: 4px;
}

.Story-para{
    font-size: 14px;
    padding-bottom: 16px;
    margin: 0px;
}

.Story-footer{
    font-size: 14px;
    display: flex;
    gap: 8px;
    align-items: center
}
