.listItem{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.listItem-img{
    width: 94px;
    height: 48px;
}

.listItem__sub{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.listItem__sub-sub{
    display: flex;
    gap: 4px;
    align-items: center;
    font-size: 12px;
}

.listItem__sub-h1{
    font-size: 16px;
}