.plans{
    display: flex;
    flex-direction: column;
    padding-top: 5%;
}
.plans__header{
    font-size: 2rem;
    text-align: center;
    font-family: var(--font-family);
    color:var(--color-primary);
    padding-bottom: 0.5rem;
}

.plans__desc{
    text-align: center;
    font-family: var(--font-family);
    color:var(--color-secondary);
}
.plans__types{
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    font-family: var(--font-family);
    color:var(--color-primary);
    margin: 2rem 2rem;
}

.plan__type{
    border: 1px solid var(--color-secondary);
    display: flex;
    margin: 2rem 2rem;
    flex-direction: column;
    padding: 2rem 1rem;
    border-radius: 1.5rem;
    width: 350px;
}

.plan__type-heading{
    font-size: 1.5rem;
}

.plan__type-price{
    justify-content: left;
    padding-top: 1rem;
    font-size: 1.3rem;
}

.plan__type-period{
    font-size: 0.75rem;
    color: var(--color-secondary);
}
.plan__type-desc{
    padding-top: 1rem;
    font-size: 0.75rem;
    color: var(--color-secondary);
}
.plan__type-points{
    padding-top: 0.5rem;
    font-size: 1rem;
    color: var(--color-secondary);
}
.plan__type-btn{
    width: 100%;
    padding: 0.75rem 1rem;
    font-family: var(--font-family);
    background-color:var(--color-primary); /* Dribbble-like blue */
    color: var(--color-bg);
    border: none;
    border-radius: 3rem; /* Rounded corners */
    cursor: pointer;
    font-size: 1rem;
    font-weight: 800; /* Semi-bold font */
    transition: background-color 0.3s ease;
    margin-top: 1.5rem;
}

.plan__type-btn:hover {
    background-color: var(--color-secondary);
 }