

.ProfileList-sub {
  display: flex;
  position: relative;
  width: 294px;
}

.ProfileList-sub img {
  position: absolute;
  width: 170px;
  height: 100%;
}

.ProfileList-sub__img1 {
  right: 125px;
  border-right: 2px solid white;
  z-index: 3;
}
.ProfileList-sub__img2 {
  right: 50px;
  border-right: 2px solid white;
  z-index: 2;
}
.ProfileList-sub__img3 {
  right: 0px;
  z-index: 1;
  border-radius: 4px;
}


@media screen and (max-width: 550px) {
  .ProfileList-sub {
    width: 220px;
  }
  
  .ProfileList-sub img {
    width: 100px;
    height: 100%;
  }
}