.Editor {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
  }
  
  .Editor_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .Editor_header-save {
    font-size: 16px;
    color: #888;
  }
  
  .Editor_header-publish {
    font-size: 16px;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: rgb(22, 152, 22);
    transition: background-color 0.3s;
    color: white;
  }
  
  .Editor_header-publish:hover {
    background-color:rgb(130, 217, 130);
    color: #fff;
    cursor: pointer;
  }
  
  .Editor_content {
    display: flex;
    flex-direction: column;
  }
  
  .Editor_content-title {
    font-size: 24px;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    width: 100%;
    outline: none; /* Removes the default outline when the input is focused */
  }
  .Editor_content-title:focus {
    border: none; /* Ensures no border appears on focus */
    outline: none; /* Ensures no outline appears on focus */
  }
  
  .Editor_content-body {
    height: 400px;
    border: none;
  }
  
  