@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --font-family: "Manrope", sans-serif;
  --color-bg: #ffffff;
  --color-bg-secondary: #f9f9f9;
  --color-primary: #242424;
  --color-secondary: #6b6b6b;
  --color-border: #f3f3f3;
  --color-icon: #6b6b6b;
  --color-premium-icon: #ffc017;
} */
