@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  
  --color-bg: #ffffff;
  --color-bg-secondary: #f9f9f9;
  --color-primary : rgb(36, 36, 36);
  --color-secondary: rgb(107, 107, 107);
  --color-border:#f3f3f3;
  --color-icon:#6b6b6b;
  --color-premium-icon:#ffc017;
}